Videos/
simple_tracker/output
simple_tracker/output_sorted
resnet_object_detector/annotations
resnet_object_detector/imgs
resnet_object_detector/models
Frame_export/comb_ano
Frame_export/comb_imgs
Frame_export/DJI_group_drone_anno
Frame_export/DJI_group_drone_img
Frame_export/Five_porpoises_foraging_anno
Frame_export/Five_porpoises_foraging_img
Frame_export/Images_group_of_porpoises_anno
Frame_export/Images_group_of_porpoises_img
*.pyc
*.pth