videos/
simple_tracker/output
simple_tracker/output_sorted
object_detection/annotations
object_detection/imgs
object_detection/models
annotate_keypoint_dataset/annotations
porpoise_detection_data/
porpoise_keypoint_data/
*.pyc
*.pth
yolo_object_detector/Libraries/PyTorch-YOLOv3
