videos/
simple_tracker/output
simple_tracker/output_sorted
resnet_object_detector/annotations
resnet_object_detector/imgs
resnet_object_detector/models
export_frames_from_video/comb_ano
export_frames_from_video/comb_imgs
export_frames_from_video/DJI_group_drone_anno
export_frames_from_video/DJI_group_drone_img
export_frames_from_video/Five_porpoises_foraging_anno
export_frames_from_video/Five_porpoises_foraging_img
export_frames_from_video/Images_group_of_porpoises_anno
export_frames_from_video/Images_group_of_porpoises_img
create_keypoint_dataset/annotations
*.pyc
*.pth